@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+JP:display=swap);
@charset "UTF-8";
/* ===== 初期化 ====== */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

li {
  list-style-type: none;
  list-style-position: outside;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.button, body #app .taskForm .taskFormWrapper .closeButton, body #app .taskList .taskListBox .addTaskButton {
  display: block;
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px 2px #888;
  border-radius: 50%;
  transition: 0.2s;
  cursor: pointer;
}

.button-hover, body #app .taskForm .taskFormWrapper .closeButton:hover, body #app .taskList .taskListBox .addTaskButton:hover {
  transform: translate(1px, 1px);
  box-shadow: none;
}

/* ===== スタイル ====== */
body {
  background-color: #D9CCCC;
}
body #app {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 30vh 70vh;
}
body #app .header {
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
}
body #app .header h2 {
  width: 100%;
  height: 100%;
  position: relative;
}
body #app .header h2 span {
  display: block;
}
body #app .header h2 div {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: "Noto Sans JP", sans-seri;
  z-index: 10;
}
body #app .header h2 div .month {
  font-size: 2.5rem;
  letter-spacing: 18px;
}
body #app .header h2 div .year {
  margin-top: -8px;
  font-size: 1.5rem;
  letter-spacing: 12px;
}
body #app .header h2 .monthNum {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: Century;
  font-size: 180px;
  color: #EFFD70;
  z-index: 1;
}
body #app .header .switchMonthButtons {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body #app .header .switchMonthButtons button {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
}
body #app .header .switchMonthButtons .backButton {
  margin-left: 180px;
}
body #app .header .switchMonthButtons .nextButton {
  margin-right: 180px;
}
body #app .calendar {
  grid-column: 1/2;
  grid-row: 2/3;
}
body #app .calendar table {
  width: 82%;
  height: 95%;
  margin: 0 auto;
}
body #app .calendar table thead {
  height: 14.28%;
}
body #app .calendar table thead tr {
  height: 100%;
}
body #app .calendar table tbody {
  height: 85.68%;
}
body #app .calendar table tbody tr {
  height: 16.66%;
}
body #app .calendar table tr {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
body #app .calendar table th, body #app .calendar table td {
  width: calc(14.29% - 10px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans JP", sans-seri;
}
body #app .calendar table th {
  font-size: 1.5rem;
  font-weight: 600;
}
body #app .calendar table td .day, body #app .calendar table td .selected {
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
  font-size: 1.4rem;
  font-weight: 400;
  background-color: #D9CCCC;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}
body #app .calendar table td .selected {
  box-shadow: 1px 1px 2px 2px #999;
  transform: translate(-2px, -2px);
}
body #app .calendar table td .day:hover, body #app .calendar table td .selected:hover {
  box-shadow: 1px 1px 2px 2px #999;
  transform: translate(-2px, -2px);
}
body #app .calendar table td .day:active, body #app .calendar table td .selected:active {
  box-shadow: none;
  transform: translate(0px, 0px);
}
body #app .calendar table td .hidden {
  display: none;
}
body #app .calendar table .sunday {
  color: #F23005;
}
body #app .calendar table .saturday {
  color: #049DD9;
}
body #app .taskList {
  grid-column: 2/3;
  grid-row: 1/3;
  display: flex;
  align-items: center;
}
body #app .taskList .taskListBox {
  width: 70%;
  height: 88%;
  position: relative;
  border: solid 3px #555;
  border-radius: 10px;
}
body #app .taskList .taskListBox .taskWrapper {
  width: 90%;
  margin: 55px auto 0;
  height: calc(100% - 55px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body #app .taskList .taskListBox .taskWrapper .task {
  width: 98%;
  height: 60px;
  margin-bottom: 15px;
  text-align: center;
  line-height: 60px;
  font-family: "Noto Sans JP", sans-seri;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #fff;
  box-shadow: 2px 4px 4px 1px #999;
  border-radius: 15px;
  transition: 0.2s;
  cursor: pointer;
}
body #app .taskList .taskListBox .taskWrapper .task:hover {
  transform: translate(1px, 1px);
  box-shadow: none;
}
body #app .taskList .taskListBox .taskWrapper::-webkit-scrollbar {
  display: none !important;
}
body #app .taskList .taskListBox .addTaskButton {
  font-size: 24px;
  font-weight: 600;
  color: #D9CCCC;
  background-color: #000;
}
body #app .taskForm {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}
body #app .taskForm .bgDark {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}
body #app .taskForm .taskFormWrapper {
  width: 500px;
  height: 500px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 20px;
  z-index: 100;
}
body #app .taskForm .taskFormWrapper .closeButton {
  margin: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  background-color: #333;
}
body #app .visible {
  display: block;
}
body #app .invisible {
  display: none;
}
